In [2]:
import pandas as pd

In [6]:
india_weather=pd.DataFrame({
    "city":["mumbai","delhi","bangalore"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
})
india_weather

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [7]:
us_weather=pd.DataFrame({
    "city":["new york","chicago","orlando"],
    "temperature":[21,14,35],
    "humidity":[68,65,75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [8]:
#To concat two dataframes use the following method which will keep the indexes as they have
df=pd.concat([india_weather,us_weather])
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75

In [9]:
#To ignore the indexes use the following command
df=pd.concat([india_weather,us_weather],ignore_index=True)
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75

In [19]:
#To retrieve data for the Indian cities(Using Indexing) only use the following command
df=pd.concat([india_weather,us_weather],keys=["India"])
df

              city  temperature  humidity
India 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        78

In [15]:
#To retrieve data for the Indian cities only use the following command
df.loc["india"]

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [21]:
#If we want to append second dataframe as another column use the following command
df=pd.concat([india_weather,us_weather],axis=1)
df

        city  temperature  humidity      city  temperature  humidity
0     mumbai           32        80  new york           21        68
1      delhi           45        60   chicago           14        65
2  bangalore           30        78   orlando           35        75

In [23]:
print (india_weather.append(us_weather))

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75